*, *:before, *:after {
    margin:auto;
    box-sizing:border-box;
}

body {
    background-color: #F2F2F2;
}

main {
    background-color: #183152;
}

hr {
    background-color: #375D81;
    opacity:0.8;
}

.nav-item {
    padding-right:3em;
}

.nav-item > a:visited {
    color:white;
}

.nav-item > a:hover {
    color:white;
}

.nav-item > a:active {
    color:white;
}

.icons{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-left:auto;
}

.social_icons:hover{
    opacity:0.5;
}

.footer_section{
  background-color:#375d81;
}

.footer_link a{
  color:#000;
  text-decoration:none;
}

.footer_link a:hover{
  color:#ccc;
}

.profile_img{
    text-align:center;
}

.profile_photo{
    height:45%;
    border-radius:50%;
}

@media screen (min-width:350px) {

}
