body {
    padding: 0;
    margin: 0;
}

.firstheading {
    background-color: rgb(60, 0, 128);
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    color: white;
}

.firstheading__firstele a {
    margin-left: 10px;
}

.firstheading__firstele a:hover {
    cursor: pointer;
}

.firstheading__secondele a {
    margin-left: 10px;
}

.firstheading__secondele a:hover {
    cursor: pointer;
}

.navbar-brand{
    font-family: 'Ultra', serif;
    font-size:3rem;
}

.sellbtn, .email__btn, .click__top {
    background-color: rgb(60, 0, 128);
    color: white;
}

.search_form {
    background:url('images/monaco-sea.webp') no-repeat;
    background-color:rgba(0, 0, 255, 0.281);
    background-position:50% 50%;
    background-size:cover;
    background-blend-mode:lighten;
    padding: 10rem 15rem;
    font-weight:bold;
}

.search_form__details {
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toursdiv {
    /* background-color: red; */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tours__para {
    opacity: 0.5;
}

.tourcol {
    background-color:red;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.newyork{
    background:url('images/newyork-cityscape.webp') no-repeat;
    background-size:cover;
    background-position:top center;
    background-color:#333;
    background-blend-mode:lighten;
}

.california{
    background:url('images/california-disneyland.webp') no-repeat;
    background-position:center;
    background-size:cover;
    background-color:#333;
    background-blend-mode:lighten;
}

.washington{
    background:url('images/washington.webp') no-repeat;
    background-position:top center;
    background-size:cover;
    background-color:#333;
    background-blend-mode:lighten;
}

.colorado{
    background:url('images/colorado-denver.webp') no-repeat;
    background-position:left center;
    background-size:cover;
    background-color:#333;
    background-blend-mode:lighten;
}

.long__beach{
    background:url('images/atlantic-city.webp') no-repeat;
    background-position:right center;
    background-size:cover;
    background-color:#333;
    background-blend-mode:lighten;
}

.arizona{
    background:url('images/arizona-mounts.webp') no-repeat;
    background-position:left center;
    background-size:cover;
    background-color:#333;
    background-blend-mode:lighten;
}

.boatsdiv {
    background-color: rgb(236, 236, 236);
}

.purple {
    color: rgb(128, 0, 128);
}

.boat {
    /* background-color: red; */
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 3rem;
}

.boat2 {
    background-color: rgba(103, 28, 223, 0.05);
}

.boatcol {
    background-color: red;
    /* padding: 6rem; */
    height: 10rem;
    /* width:16rem; */
}

.boat-1{
    background:url('images/boat-1.webp') no-repeat;
    background-size:cover;
    background-position:center;
}

.boat-2{
    background:url('images/boat-2.webp') no-repeat;
    background-size:cover;
    background-position:bottom center;
}

.boatsellcol {
    box-shadow: 1px 2px 2px rgb(197, 197, 197);
    margin-bottom: 1rem;
    margin-left: 1rem;
    /* padding: 3rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.boat__img {
    height: 12rem;
    width: 14rem;
    background-color: red;
}

.nockamixon__img{
    background:url('images/nockamixon.webp') no-repeat;
    background-size:cover;
    background-position:center;
}

.sailing__img{
    background:url('images/sailing-boat.webp') no-repeat;
    background-size:cover;
    background-position:center;
}

.yacht__img{
    background:url('images/yacht.webp') no-repeat;
    background-size:cover;
    background-position:center;
}

.boat__sec{
    background:url('images/boat-view.webp') no-repeat;
    background-size:cover;
    background-position:center;
    background-color:grey;
    background-blend-mode:lighten;
}

.boat__data {
    display: flex;
    /* background-color: white; */
    justify-content: space-between;
}

.boat-3{
    background:url('images/boat-3.webp') no-repeat;
    background-size:cover;
    background-position:center;
}

.boat-4{
    background:url('images/boat-4.webp') no-repeat;
    background-size:cover;
    background-position:center;
}

.boat-5{
    background:url('images/boat-5.webp') no-repeat;
    background-size:cover;
    background-position:center;
}

.footer__section{
    background-color:#fff;
}

.footer__container{
  border-right:1px solid #e4ebdd;
  border-left:1px solid #e4ebdd;
}

.logo__row{
    background-color:lightgray;
    padding:4rem;
    border-top:solid #ccc 1px;
    background-blend-mode:lighten;
}

.logo__col{
  padding:0 2rem;
  margin-bottom:2rem;
}

.footer__link__row{
    margin-right:1rem;
}

.link__col{
  margin:1rem
}

.google__play__btn{
  margin-right:5px;
}

.apple__btn{
    background-color:#5fc9f8;
    color:#fff;
    /* margin-left:12px; */
}

.apple__btn:hover{
    color:#fff;
    background-color:#147efb;
}

.footer__links{
    color:lightslategrey;
    text-decoration:none;
    margin-top:1rem;
}

.footer__links:hover{
    color:#000;
    text-decoration:none;
}

.spot__span{
    color:#000;
}

@media (max-width:480px){
  .firstheading {
      padding:10px 10px;
  }

  .firstheading__firstele a{
      margin-left: 2px;
      font-size:12px;
  }

  .firstheading__secondele a{
      margin-left: 4px;
      font-size:12px;
  }

  .tourcol{
    margin-left:5px;
    padding: 8rem 2rem;
  }

  .boatsellcol{
    margin-left:2px;
  }

  .brand__col{
    margin-left:0px;
  }
}

@media (max-width:960px) {
    .search_form {
        padding: 4rem;
    }
}

@media (max-width:600px) {
    .search_form {
        padding: 3rem;
    }

    .search_form__heading {
        font-size: 20px;
    }

    .search_form__para {
        display: none;
    }
}
